<nav class="navbar navbar-expand-lg navbar-light bg-custom">

  <div class="col-sm-2 d-none d-sm-block">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.jpg" class=" logo-img img-fluid" alt="">
    </a>
  </div>
  <!-- img mobile -->
  <div class="col-12 d-block d-sm-none">
    <a href="#">
      <img src="../../assets/img/logo.jpg" class="img-fluid d-flex mx-auto img-mobile" alt="">
    </a>
  </div>

  <div class="col-10 col-md-8 col-lg-6 my-2 my-lg-0 p-0 buscador-y-atributos">
    <div class="d-flex col-12 py-2 pl-0">
      <input id="searchProduct" class="form-control rounded-0 rounded-left" type="search" placeholder="Buscar producto..." aria-label="Search"
        aria-describedby="basic-addon2" (blur)="closeList()" (keyup)="SearchEngineProducts()">

      <button class="btn px-3 bg-white border-top border-right border-bottom rounded-right" type="submit">
        <i class="fa fa-search fa-md my-auto p-0"></i>
      </button>
    </div>

    <div class="col col-md-10 col-lg-8 m-0 mt-md-2 p-0 d-flex align-items-center buscador">
      <div style="border: 1px solid #e0e0e0; background: white; width:58.5%; position:absolute; top:-8px; z-index: 9999999" *ngIf="BoolList">
        <ul class="pl-0 ml-0 mb-2 mt-2">
          <li id="cont{{product.p_id}}" class="pl-3 pr-3 pt-1 pb-1 mt-1 productSlect" *ngFor="let product of jsonSearch" style="display:block; cursor:pointer"
            (click)="productClicked(product.p_id)">
            <a id="p{{product.p_id}}">{{product.p_nombre}}</a>
          </li>
        </ul>
      </div>
    </div>

    <!-- atributos -->
    <div class="cont-atributos bg-light col-12 px-0 py-2" *ngIf="BoolList">
      <ul class="list-group p-0 m-0 text-dark">
        <li id="cont{{atributo.p_id}}" class="px-3 py-1 productSlect" *ngFor="let product of jsonSearch">
          <a id="p{{product.p_id}}" class="text-muted">{{atributo.p_nombre}}</a>
        </li>
      </ul>
    </div>
    <!-- fin atributos -->
    <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">

      <ul class="navbar-nav text-uppercase text-white">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin771">Categorías&nbsp;
            <i class="fa fa-angle-down"></i>
          </a>
        </li>
             <li class="nav-item p-0">
        <div class="btn-group" dropdown>
          <a id="button-basic" dropdownToggle class="nav-link bg-warning" aria-controls="dropdown-basic">
            Mega menú&nbsp;
            <i class="fa fa-angle-down"></i>
          </a>
          <div id="dropdown-basic" *dropdownMenu class="dropdown-menu p-0" role="menu" aria-labelledby="button-basic">
            <app-sub-menu></app-sub-menu>
          </div>
        </div>
      </li>
      </ul>
    </div>
  </div>

  <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
    <ul class="navbar-nav text-uppercase text-white ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-shopping-cart fa-lg"></i>
        </a>
      </li>
    </ul>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<!-- Mega Menú -->
<!-- <div class="container-fluid" *ngIf="show">
  <app-sub-menu></app-sub-menu>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>