<app-header></app-header>

<section class="bg-grey pb-5">
  <div class="container">
  <div class="row">
    <div class="col-12 mt-3">
        <p class="text-menu-etiqueta">Etiquetas sugeridas:  <a class="ml-3 text-etiqueta" *ngFor="let etiquetas of JsonEtiquetas | slice : 0 : 8" routerLink="/producto-etiqueta/{{etiquetas.e_nombre}}">{{etiquetas.e_nombre}}</a>
        </div>
  </div>


    

   <div class="row">
      
      <div class="col-3">
      <h6>SecaConstrucciones</h6>
      <h4>Productos de {{categoriaName}}</h4>
      <h5 class="mt-4">Opciones</h5>
      <p class="text-etiqueta" *ngFor="let opcion of JsonOptions" (click)="filterOption(opcion.su_id)"><i class="fa fa-angle-right"></i>{{opcion.su_nombre}}</p>
      
      </div>
      <div class="col-9">
        <div class="row">
        <div class="col-4 p-0 border rounded py-3 capsule p-w mb-3 ml-3 text-center" *ngFor="let producto of JsonProducto | slice : Desde : Hasta" >
            <div class="d-flex rounded py-3 cont-img">
              <img src="{{producto.p_url}}" class="align-self-center mh mx-auto" alt="">
            </div>
            <hr id="hr m-0">
            <div class="text-center ">
                
              <h5>${{producto.p_precio}}</h5>
              <p class="name-producto">{{producto.p_nombre}}</p>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
              <a class="ft-14">Pagina {{PaginaActual}} de {{CantidadDePaginas}}</a><a class="ml-1 paginador" (click)="prevPag()"><</a><a class="paginador ml-1" (click)="nextPag()">></a>
            </div>   
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>