img{
    width: 55%;
}
.title{
    font-family: 'Bitter', serif!important;
    margin-left: 60px;
    font-size: 3.7rem;
}

.bg-custom{
    background-color: #2b6939;
}
.bg-añil{
    background-color: #103035;
   
}