img{
    width: 45%;
}
.title{
    font-family: 'Bitter', serif!important;
    margin-left: 60px;
    font-size: 3.4rem;
}

.bg-custom{
    background-color: #2b6939;
}
.bg-añil{
    background-color: #103035;
   
}

/* Rules for mobiles */
@media screen and (max-width:425px) {
    .title{
        font-size: 1.5rem;
    }
    img{
        width: 75%;
    }
  }
  