<div class="container-fluid px-4 py-md-2 bg-custom ">

  <div class="row">
    <!-- Logo -->
    <div class="col-3 col-md-2 px-2 p-md-0">
      <a class="navbar-brand" href="#">
        <img src="../../assets/img/logo.jpg" class="logo-img img-fluid" alt="">
      </a>
    </div>

    <div class="col-9 col-md-11 input-group mx-auto mt-2 mt-md-0 ml-md-4 py-0 d-flex align-items-center buscador">
  <div class="row">

    <input id="searchProduct" type="text" class="form-control rounded-left font-italic p-2 col-md-7" placeholder="Buscar producto..." aria-describedby="basic-addon2" (keyup)="SearchEngineProducts()">
    <button class="py-0 px-4 bg-white border-top border-right border-bottom rounded-right">
      <i class="fa fa-search fa-md my-auto p-0"></i>
    </button>
  </div>    
  
  <ul id="cont{{atributo.p_id}}" *ngFor="let atributo of listProductsInTheSearchEngine">
    <li ><a>{{atributo.p_nombre}}</a></li>
  </ul>
    
      <div class="collapse navbar-collapse text-dark col-md-12 py-0 mt-2 cont-link pl-0" id="navbarTogglerDemo01">
        <ul class="navbar-nav mt-2 mt-lg-0 ">
          <li class="nav-item">
            <a class="nav-link text-white p-0"><b>Categorías </b> <span class="fa fa-angle-down"></span></a>
          </li>
          <!-- <app-sub-menu></app-sub-menu> -->
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
            <li class="nav-item px-3 border-right">
              <a class="nav-link text-white p-0" routerLink="/admin771">Iniciar sesión <span class="fa fa-login"></span></a>
            </li>
            <li class="nav-item px-3 border-right">
                <a class="nav-link text-white p-0" href="#">Regístrese <span class="fa fa-signin"></span></a>
              </li>
              <li class="nav-item px-3">
                  <a class="nav-link text-white p-0" href="#"> <span class="fa fa-shopping-cart fa-md"></span></a>
                </li>
           
          </ul>
      </div>

      <!-- botón hamburguesa -->
      <div class="col-2 d-flex align-self-center mr-auto d-block d-lg-none">
        <button class="navbar-toggler boton-barra" type="button" data-toggle="collapse" data-target="#barra-inferior" aria-controls="barra-inferior"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon text-white"></span>
        </button>
      </div>

      <!-- barra inferior -->
      <div class="col-12 col-md-12 p-0 mt-2 navbar-light navbar-expand-lg">

        <div class="col-md-12 collapse navbar-collapse text-center" id="barra-inferior">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Categorías&nbsp;<i class="fa fa-angle-down"></i>
              </a>
    </li>
    </ul>
  
        <!-- end navbar -->
      </div>

    </div>
  </div>




</div>
</div>