<footer class="text-white pl-0 pr-0 pb-0">
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-3">
      <i class="fa fa-map-marker fa-2x float-left mr-3"></i>
    
        <p><b>Dirección</b></p>
        <hr style="width: 289px;
        border: 1px solid #646464;
        margin-right: 50%;">
        <p class="text-footer-t">
           La Crujía 5767,<br>
           San Martín, Buenos Aires.<br>
           Provincia de Buenos Aires
          </p>
    
    </div>

    <div class="col-md-4 p-3">
        <i class="fa fa-phone fa-2x float-left mr-3"></i>
      <b>Teléfono:</b><a class="text-footer"> (011) 4844-0128</a><br>
      <hr style="width: 289px;
      border: 1px solid #646464;
      margin-right: 50%;">

      <b>Horario</b><p class="text-footer">
         Lunes a viernes de 8 a 17 hs.
      <br> Sábados de 8 a 13 hs.</p>

    </div>

    <div class="col-md-4 p-3">
      <h3 class="mb-3 text-center text-sm-left title-mini">Suscríbase para recibir nuestro boletín</h3>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
        <span class="input-group-addon d-flex p-2" id="basic-addon2">
          <i class="fa fa-envelope-o fa-lg my-auto p-0 text-white"></i>
        </span>
      </div>

    </div>
    
  </div>
</div>
 <!-- Social buttons -->
 
 <ul class="list-unstyled list-inline text-center my-0 pt-2 pb-2">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <i class="fa fa-facebook"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <i class="fa fa-twitter"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1">
        <i class="fa fa-google-plus"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1">
        <i class="fa fa-dribbble"> </i>
      </a>
    </li>
  </ul>
 
  <!-- Social buttons -->

  <!-- Copyright -->
 
</footer>
