<!-- Submenú -->
<li>
      <div class="row">
        <div class="submenu-wrapper col-md-12 bg-info position-absolute mx-auto text-white">
          <div class="row">
          <section class="col-md-4 bg-dark h-100 px-3 py-2">
            <ul class="">
                <li class="nav-item"><a class="nav-link" href="#">doctor</a></li>
                <li><a href="#">nightwear</a></li>
                <li><a href="#">dresses and jumpsuits</a></li>
                <li><a href="#">shirts</a></li>
                <li><a href="#">leggings & trousers</a></li>
                <li><a href="#">bags</a></li>
            </ul>
        </section>
        <section class="col-md-8 bg-success h-100 px-3 py-2">
            <ul class="">
                <li class="nav-item"><a class="nav-link" href="#">doctor</a></li>
                <li><a href="#">nightwear</a></li>
                <li><a href="#">dresses and jumpsuits</a></li>
                <li><a href="#">shirts</a></li>
                <li><a href="#">leggings & trousers</a></li>
                <li><a href="#">bags</a></li>
            </ul>
        </section>
      </div>
      </div>
      </div>
  </li>
