
<div class="container-fluid" style="background-color: lightgray">
<mat-grid-list cols="3" rowHeight="700">
    <mat-grid-tile></mat-grid-tile>


    <mat-grid-tile class='login-element'>
        <div class="login-container">

              <!-- Template Header starts -->
            <div class="login-box-header">
                <h3>Ingrese su Usuario y Contraseña</h3>
            </div>
            <!-- Template Header ends -->

            <!-- Template Body starts -->
            <div class="login-box-body">

                <!-- Markup for getting Username starts -->
                <mat-grid-list cols="9" rowHeight="75px">
                    <mat-grid-tile [rowspan]="1" class="login-icon">
                        <mat-icon>lock</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-form-field class="justifier">
                            <input matInput placeholder="Usuario" text="text" >
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Username ends -->

                <!-- Markup for getting Password starts -->
                <mat-grid-list cols="9" rowHeight="100px">
                    <mat-grid-tile [rowspan]="1"  class="login-icon">
                        <mat-icon>remove_red_eye</mat-icon>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="7">
                        <mat-form-field class="justifier">
                            <input matInput placeholder="Contraseña" [type]="'password'">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <!-- Markup for getting Password ends -->

                <button mat-raised-button class="login-button" color="warn">
                    <mat-icon>input</mat-icon> Login
                </button>

            </div>
            <!-- Template Body ends -->

        </div>
    </mat-grid-tile>

    <mat-grid-tile></mat-grid-tile>

</mat-grid-list>
</div>
