<app-header></app-header>
<section>
  <div class="container">
      <div class="row">
          <div class="col-12 pt-3">
            <h3>Busqueda por categoria.</h3>
          </div>
        </div>
  </div>
  <div class="container pt-3 pb-3 my-1 capsula">
  <div class="row pd-15">
      <!-- *ngFor="let seccion of JsonSecciones" -->
      <!-- *ngFor="let categoria of JsonCategorias" -->
    <div class="col-6" *ngFor="let seccion of JsonSecciones">
      <div class="row color-select">
        <div class="col-12"> <h4>{{seccion.s_nombre}}</h4> </div>
        <div class="col-12" *ngFor="let categoria of JsonCategorias" > <h6>{{categoria.a_nombre}}</h6></div>
      </div>
    </div>
    
  </div>
  </div>
</section>
<app-footer></app-footer>