<div class="general">
  <div class=" container text-dark">
    <h3>Categorias</h3>
    <mat-grid-list cols="4" rowHeight ="1:2" >

      <mat-grid-tile >
        <div style="width:100%" class="categoria">
          <div style="width:33%">
          <a>hola</a>
          </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div style="width:100%" class="categoria">
              <div style="width:33%">
              <a>hola</a>
            </div>
            </div>
            </mat-grid-tile>
            <mat-grid-tile >
                <div style="width:100%" class="categoria">
                  <div style="width:33%">
                  <a>hola</a>
                </div>
                </div>
                </mat-grid-tile>
                <mat-grid-tile >
                    <div style="width:100%" class="categoria">
                      <div style="width:33%">
                      <a>hola</a>
                    </div>
                    </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

</div>

<!-- matTreeNodeToggle -->
<app-footer></app-footer>
