<footer class="text-white mt-4 bg-custom">
  <div class="row">
    <div class="col-md-3 p-3">
      <ul class="list-unstyled m-0">
        <li class="p-0">
          <i class="fa fa-map-marker fa-2x float-left mr-3"></i>
          <b>Dirección</b>
        </li>
      </ul>
      <hr class="w-75 ml-0">
      <p class="text-footer-t">
        La Crujía 5767, San Martín
        <br>Provincia de Buenos Aires
      </p>
    </div>

    <div class="col-md-3 p-3">
      <ul class="list-unstyled">
        <li class="p-0">
          <i class="fa fa-phone fa-2x float-left mr-3"></i>
          <b>Teléfono</b>
        </li>
      </ul>
      <hr class="w-75 ml-0">
      <a class="text-footer"> (011) 4844-0128</a>
      
    </div>
    <div class="col-md-3 p-3">
        <ul class="list-unstyled">
          <li class="p-0">
            <i class="fa fa-clock-o fa-2x float-left mr-3"></i>
            <b>Horario</b>
          </li>
        </ul>
        <hr class="w-75 ml-0">
        <p class="text-footer">
          Lunes a viernes de 8 a 17 hs.
          <br> Sábados de 8 a 13 hs.</p>
      </div>

    <div class="col-md-3 p-3">
      <h3 class="mb-3 text-center text-sm-left title-mini">Suscríbase para recibir nuestro boletín</h3>

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Email" aria-describedby="basic-addon2">
        <span class="input-group-addon d-flex p-2" id="basic-addon2">
          <i class="fa fa-envelope-o fa-lg my-auto p-0 text-white"></i>
        </span>
      </div>

      <div class="social-media mt-4 d-flex justify-content-center justify-content-sm-start">
        <div class="sq bg-d d-flex mr-2">
          <a href="#" target="_blank" class="text-dark mx-auto align-self-center">
            <i class="fa fa-facebook"></i>
          </a>
        </div>
        <div class="sq d-flex mr-2">
          <a href="#" target="_blank" class="text-dark mx-auto align-self-center">
            <i class="fa fa-google"></i>
          </a>
        </div>
        <div class="sq d-flex mr-2">
          <a href="#" target="_blank" class="text-dark mx-auto align-self-center">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</footer>
