<section class="pt-5 pb-5 my-5">
  <div class="container mt-5">
  <!------------Here begins the form of the Store-------------->
    <ng-template #Agregar>
      <div *ngIf="ChangeTemplateAgregar;else Editar">
  
        <div class="container">
          
          <h2 align="center">Agregar nuevo Sub-atributo</h2>
  
    <hr>
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="su_nombre">Nombre del sub-atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="su_nombre" value="" class="form-control" type="text" placeholder="Ingrese un Nombre">
            <div *ngIf="AlertName" class="alert alert-danger">*Ingrese un Nombre</div></div> 
          </div>
          
          <div class="row mt-2">
            <div class="col-md-6 col-xs-12"><label>Atributo</label></div>
            <div class="col-md-6 col-xs-12"><input id="searchAttribute" class="form-control" type="text" placeholder="Buscar un Atributo" (keyup)="filterStoreAtributte()"></div>
            <a (click)="returnAttribute()" style="cursor:pointer; color:cornflowerblue;">cambiar</a>
        </div>
        <div class="row mt-2" >
          <div class="list-group col-2" id="cont{{atributo.a_id}}" style="padding-left:15px;" *ngFor="let atributo of listAttribute">
            <input type="button" class="list-group-item list-group-item-action" style=" box-shadow:1px 1px 5px grey; cursor:pointer;" (click)="atributoStoreClicked(atributo.a_id)" id="{{atributo.a_id}}" value="{{atributo.a_nombre}}" >
          </div>
        </div>

  
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-lg btn-danger pull-right ml-1" (click)="ReturnToTheTableUsers()">Volver</button>
            <button class="btn btn-lg btn-info pull-right" (click)="Store()">Agregar</button>
          </div>
        </div>
  
        </div>
      </div>
      <!------------------End form Store-------------------->
      <!------------------Here begins the form of the Edit---------------------------->
      <ng-template #Editar>
  
        <div class="container">
          <h2 align="center">Editar Sección</h2>
          <hr>

        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="edit_name">Editar Sub-atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="edit_name" value="{{edit_subAttribute.su_nombre}}" class="form-control" type="text" placeholder="Ingrese un Nombre"></div>
        </div>

        <div *ngIf="notEditAttributeAndShowInput">
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="edit_name">Editar Atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="edit_name" value="{{edit_subAttribute.a_nombre}}" style="display: block-none;" class="form-control" type="text" placeholder="Ingrese un Nombre"></div>
        </div>
        <div class="pull-right"><a (click)="editAttribute()" style="cursor:pointer; color:cornflowerblue;">editar</a></div></div>
        

        <div *ngIf="editAttributeAndShowInput">
          <div class="row mt-2">
              <div class="col-md-6 col-xs-12"><label>Editar Atributo</label></div>
              <div class="col-md-6 col-xs-12"><input id="searchEditAttribute" class="form-control" type="text" placeholder="Buscar un Atributo" (keyup)="filterEditAttribute()"></div>
            </div>
            <div class="pull-right">
              <a (click)="returnAttribute()" style="cursor:pointer; color:cornflowerblue;">cambiar</a>
                <span>|</span>
              <a (click)="CancelEditAttribute()" style="cursor:pointer; color:cornflowerblue;">cancelar</a>
          </div>
          <div class="row mt-2" >
            <div class="list-group col-2" id="cont{{editarAtributo.a_id}}" style="padding-left:15px;" *ngFor="let editarAtributo of listAttribute">
              <input type="button" class="list-group-item list-group-item-action" style=" box-shadow:1px 1px 5px grey; cursor:pointer;" (click)="attributeClickedEdit(editarAtributo.a_id)" id="atributoEdit{{editarAtributo.a_id}}" value="{{editarAtributo.a_nombre}}" >
            </div>
          </div>
        </div>
  
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-lg btn-danger ml-2" (click)="ReturnToTheTableUsers()">Volver</button>
            <button class="btn btn-lg btn-info ml-3" (click)="Edit(edit_subAttribute.su_id)">Editar</button>
          </div>
        </div>
        
          <div class="col-12">
            <hr>
          </div>


      </div>
    
  </ng-template>
  </ng-template>
  <!----------End Edit Form---------->
  
  <div *ngIf="ChangeTemplateEditar;else Agregar" class="mt-4">
  
  
        <h2>Tabla de Sub-atributo.</h2>
  
        <hr>
        <div class="row">
          <div class="col-6">
            <input type="hidden" class="form-control pull-left" placeholder="Buscar por usuario">
          </div>
          <div class="col-6">
              <button  class="btn btn-md btn-primary pull-right ml-1"  (click)="showStoreForm()"><i class="fa fa-plus" style="font-size:17px"></i>Agregar</button>
              <button class="btn btn-md btn-danger pull-right" (click)="delete()"><i class="fa fa-close" style="font-size:20px"></i>Eliminar</button>
            </div>
          </div>
    
      <table class="table table-bordered mt-3"  width="100%">
  
        <thead>
            <tr>
              <th style="width: 1px;">#</th>
              <th>Sub-atributo</th>
              <th>Atributo</th>
              <th style="width: 25px">Editar</th>
            </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let subAtributo of listed"> <!--put name of the data base-->
              <td><input type="checkbox" class="tilde" value="{{subAtributo.su_id}}" (click)="Check(subAtributo.su_id)"></td>
              <td>{{subAtributo.su_nombre}}</td>
              <td>{{subAtributo.a_nombre}}</td>
              <td><button value="{{subAtributo.su_id}}" (click)="ShowEditForm(subAtributo.su_id)"><i class="fa fa-pencil"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  </section>