<section class="pt-5 pb-5 my-5">
  <div class="container mt-5">
  
  <!------------Here begins the form of the Store-------------->
    <ng-template #Agregar>
      <div *ngIf="ChangeTemplateAgregar;else Editar">
  
        <div class="container">
          
          <h2 align="center">Agregar nuevo Sub-atributo</h2>
  
    <hr>
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="sa_name">Nombre del sub-atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="sa_name" value="" class="form-control" type="text" placeholder="Ingrese un Nombre">
          <div *ngIf="AlertName" class="alert alert-danger">*Ingrese un Nombre</div></div>
        </div>
  
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="searchAttribute">Atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="searchAttribute" value="" class="form-control" type="text" placeholder="Buscar un Atributo" (keyup)="filterAtributte()"></div>
        </div>
        <div class="row">
          <div class="list-group col-2" id="cont{{atributo.a_id}}" style="padding-left:15px;" *ngFor="let atributo of listadoAtributo"></div>
          <input type="button" class="list-group-item list-group-item-action" style=" box-shadow:1px 1px 5px grey; cursor:pointer;" (click)="atributoClicked(atributo.a_id)" id="{{atributo.a_id}}" value="{{atributo.a_nombre}}" >
        </div>

        <div class="row mb-2 text-center">
          <div class="col-12"><hr></div>
        </div>
  
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-lg btn-danger pull-right ml-1" (click)="ReturnToTheTableUsers()">Volver</button>
            <button class="btn btn-lg btn-info pull-right" (click)="Store()">Agregar</button>
          </div>
        </div>
  
        </div>
      </div>
      <!------------------End form Store-------------------->
      <!------------------Here begins the form of the Edit---------------------------->
      <ng-template #Editar>
  
        <div class="container">
          <h2 align="center">Editar Sección</h2>
          <hr>
        <div class="row mt-2">
          
          <div class="col-md-6 col-xs-12"><label for="edit_name">Editar Sub-atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="edit_name" value="{{edit_subAttribute.sa_nombre}}" class="form-control" type="text" placeholder="Ingrese un Nombre">
          <div *ngIf="AlertName" class="alert alert-danger">*Ingrese un Nombre</div></div>     
        </div>
        
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="edit_attribute">Editar Atributo</label></div>
          <div class="col-md-6 col-xs-12"><input id="edit_attribute" value="{{edit_seccion.s_atributo}}" class="form-control" type="email" placeholder="Ingrese un Atributo">
          <div *ngIf="AlertAttribute" class="alert alert-danger">*Ingresar un Atributo</div></div> 
        </div>
  
        <div class="row mb-2 text-center">
            <div class="col-12">
              <hr>
            </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <button class="btn btn-lg btn-danger ml-2" (click)="ReturnToTheTableUsers()">Volver</button>
          <button class="btn btn-lg btn-info ml-3" (click)="Edit(edit_subAttribute.sa_id)">Editar</button>
        </div>
    </div>
  </div>
    
  </ng-template>
  </ng-template>
  <!----------End Edit Form---------->
  
  <div *ngIf="ChangeTemplateEditar;else Agregar" class="mt-4">
  
  
      <div class="row">
        <div class="col-5">
        <h2>Tabla de Sub-atributo.</h2>
  
      </div>
      <div class="col-7">
        <button class="btn btn-md btn-info pull-right ml-1" (click)="ShowStoreForm()">Agregar</button>
        <button class="btn btn-md btn-danger pull-right ml-1" (click)="Delete()">Eliminar</button>
      </div>
    </div>
    
      <table class="table table-bordered mt-3"  width="100%">
  
        <thead>
            <tr>
              <th style="width: 1px;">#</th>
              <th>Sub-atributo</th>
              <th>Atributo</th>
              <th style="width: 25px">Editar</th>
            </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let atributo of listado"> <!--put name of the data base-->
              <td><input type="checkbox" class="tilde" value="{{atributo.sa_id}}" (click)="Check(atributo.sa_id)"></td>
              <td>{{atributo.sa_nombre}}</td>
              <td>{{atributo.sa_idatributo}}</td>
              <td><button value="{{atributo.sa_id}}" (click)="ShowEditForm(atributo.sa_id)"><i class="fa fa-pencil"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  </section>