<div class="row text-dark">
  <app-side-bar class="col-md-3 "></app-side-bar>
  <section class="col-md-9">
    <div class="row pt-1 pt-sm-5">

      <div class="col-md-7 p-0 px-sm-3">
        <div class="mx-auto">
          <iframe class="d-block w-100 mx-auto" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13139.294014233086!2d-58.5630483!3d-34.5833322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb4e0d48938dba490!2sSECA+REVESTIMIENTOS!5e0!3m2!1ses-419!2sar!4v1520555448184"
            height="300" frameborder="0" style="border:0;" allowfullscreen></iframe>
        </div>
      </div>

      <div class="col-md-5">
        <p class="leyenda px-2 ml-md-4 ml-lg-0">
          © Abacor
          <br>La Crujía 5767, San Martin, Buenos Aires
          <br> 011 4844-0128
        </p>
      </div>
    </div>
  </section>
</div>
