.main-text-color{
    color:#666;
    font-size: 1.8rem!important;
}
.productos{
    background-color: blueviolet;
}

.hr{
    border:solid .3px #666;
  
}

.cont-img{
    height: 250px;
}

.cont-img img {
    max-width: 90%;
    max-height: 250px;
}

.capsule{
    transition: all .5ms ease-in-out;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
   
  
}

.capsule:hover{
    box-shadow: 0px 3px 7px #0000004a;
}
#grey-bg{
    background-color: rgb(238, 238, 238);
}