.main-text-color{
    color:#666;
    font-size: 1.8rem!important;
}
.productos{
    background-color: blueviolet;
}

.hr{
    border:solid .3px #666;
}
.top{
    max-width: 25%!important;
}
.example-card {
    width:300px;
    height: 390px;
  }
 img{
     max-height:100%;
     max-width: 100%;
 }
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.contenido:hover{
    text-decoration:none;
}
.contenido{
    color:rgb(43, 43, 43)!important;
}

.cont-img{
    height: 250px;
}

.cont-img img {
    max-width: 90%;
    max-height: 250px;
}

.capsule{
    transition: all .5ms ease-in-out;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    color:rgb(35, 35, 35)!important;
    max-width: 23.7%!important;
}
.capsuled{
    transition: all .5ms ease-in-out;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    color:rgb(35, 35, 35)!important;
    max-width: 24%!important;
}
.title-product{
    font-size: 17px!important;
    text-decoration: none!important;
}
.title-product:hover{
    text-decoration: none!important;
}
.capsule:hover{
    box-shadow: 0px 3px 7px #0000004a;
}
#grey-bg{
    background-color: rgb(238, 238, 238);
}
@media screen and (max-width: 720px) {
    .capsuled, .capsule{
        max-width: 100%!important;
        margin:0px!important;
    }

}