<div class="container-fluid main-text-color">
 
<div class="row">
  <div class="col ">
    </div>
    </div>
    <div class="row d-flex">
      <div class=" p-0 mx-0 mx-md-3 border rounded py-3 capsule" *ngFor="let producto of ListOfProducts">
        <div class="d-flex rounded py-3 cont-img">
          <img src="{{producto.p_url}}" class="align-self-center img-fluid mx-auto" alt="">
        </div>
        <hr id="hr m-0">
        <div class="text-center ">
          <h5>${{producto.p_precio}}</h5>
        </div>
      </div>
      </div>
      <div class="row">
          <div class="col ">
            <h3>Productos</h3>
            </div>
            </div>
            <div class="row d-flex">
      
              <div class="col-md-3 px-0 mx-3 border py-3 capsule mb-3">
                <div class="d-flex rounded py-3 px-1 cont-img">
                  <img src="../../assets/img/multifunc.png" class="align-self-center img-fluid mx-auto" alt="">
                </div>
                <hr id="hr m-0">
                <div class="text-center ">
                  <h3>$ 400</h3>
                </div>
              </div>
      </div>
   
    </div>
  

