<div class="container-fluid main-text-color">
  <div class="row">
    <div class="col p-3">
      <p class="text-center">Productos</p>
      <div class="row d-flex justify-content-center">

        <div class="col-md-2 px-0 mx-3 border py-3 capsule mb-3">
          <div class="d-flex rounded py-3 px-1 cont-img">
            <img src="../../assets/img/multifunc.png" class="align-self-center img-fluid mx-auto" alt="">
          </div>
          <hr id="hr m-0">
          <div class="text-center ">
            <h3>$ 400</h3>
          </div>
        </div>

        <div class="col-md-2 px-0 mx-3 border py-3 capsule mb-3">
          <div class="d-flex rounded py-3 px-1 cont-img">
            <img src="../../assets/img/mortero.png" class="align-self-center img-fluid mx-auto" alt="">
          </div>
          <hr id="hr m-0">
          <div class="text-center ">
            <h3>$ 400</h3>
          </div>
        </div>

        <div class="col-md-2 px-0 mx-3 border py-3 capsule mb-3">
          <div class="d-flex rounded py-3 px-1 cont-img">
            <img src="../../assets/img/multifunc.png" class="align-self-center img-fluid mx-auto" alt="">
          </div>
          <hr id="hr m-0">
          <div class="text-center ">
            <h3>$ 400</h3>
          </div>
        </div>
        <div class="col-md-2 px-0 mx-3 border py-3 capsule mb-3">
          <div class="d-flex rounded py-3 px-1 cont-img">
            <img src="../../assets/img/tree.png" class="align-self-center img-fluid mx-auto" alt="">
          </div>
          <hr id="hr m-0">
          <div class="text-center ">
            <h3>$ 400</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
