<app-header></app-header>
<div class="container-fluid py-5">

  <div class="row text-dark">
    <div class="col-md-11 mx-auto border bg-white">
      <div class="row">

        <!-- parte izquierda -->
        <div class="col-md-7 border-right">
          <div class="row p-4">
            <div class="py-3 mx-auto">
              <img src="{{ListOfProducts.p_url}}" class="img-fluid" alt="">
            </div>
            <div class="">
              <h3 class="">Características</h3>
              <p>{{ListOfProducts.p_descripcion}}</p>
            </div>
          </div>
          <div id="preguntas" class="flex-column p-4">
              <h4 class="mb-3">Preguntas al vendedor</h4>
                <i class="fa fa-question-circle fa-lg float-left mr-3 "></i>
                <p class="p-0">Lorem ipsum?</p>
              <div class="">
                <i class="fa fa-question-circle fa-lg float-left mr-3" ></i>
                <p class="p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse distinctio tempora nostrum libero, rem iste
                  quibusdam sit soluta exercitationem saepe ipsam dicta, fugiat voluptatibus quod. Recusandae eius laudantium
                  quia maxime!</p>
              </div>
          </div>
         
        </div>

        <!-- parte derecha -->
        <div class="col-md-5 py-3">
          <div class="d-flex flex-column">
            <h2 class="mb-1 mb-lg-2">{{ListOfProducts.p_nombre}}</h2>
            <h2 class="mb-2 mb-lg-3"><i class="fa fa-dollar"></i>{{ListOfProducts.p_precio}}</h2>
            <br>
            <div class="">
              <i class="fa fa-credit-card fa-lg float-left mr-3"></i>
              <p class="p-0">Pagá hasta en 12 cuotas
              </p>
            </div>

            <div>
              <i class="fa fa-credit-card fa-lg float-left mr-3"></i>
              <p class="p-0">Envío a todo el país
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div>

    </div>
  </div>
</div>
<app-footer></app-footer>