.p-w{
    max-width: 30%!important;
    background-color: white;
}
.bg-grey{
    background-color:rgb(232, 232, 232);
}
.text-etiqueta{
    font-size:13px;
}
.name-producto{
    font-size: 15px;
}
.mh{

    max-width: 90%;
    max-height: 250px;
}