@import url('https://fonts.googleapis.com/css?family=Abel');

header{
    font-family: 'Abel', sans-serif;
}

td{
    font-size: 15px;
}
.to{
    padding-left:8px;
    color:#868e96!important;
}

.full-right{
    flex: 0.99 1 auto;
}
.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  background-color: transparent;
       flex: 1;
  }
  mat-sidenav{
      background-color: #343a40!important;
      color:white!important;
  }
  mat-list-item{
      color:#eaeaea!important;
  }