<div class="example-container" >
  <mat-toolbar class="example-toolbar">
    <span class="full-right"><h3>Seca Construcciones</h3></span>
    <button mat-raised-button color="primary" class="ov-y mr-1"
    matBadge="9" matBadgePosition="before" matBadgeColor="accent" routerLink="preguntas">
    <mat-icon>message</mat-icon>
      Mensajes
    </button>
    <span>
      <button mat-raised-button color="warn"> Cerrar sessión </button>
    </span>
  </mat-toolbar>
  <mat-sidenav-container  opened class="example-sidenav-container" style="background-color:transparent!important;">

      <mat-sidenav #snav opened mode="side">
        <mat-nav-list>
          <mat-list dense>
  
              <mat-list-item (click)="goUsuarios()">
                 <mat-icon>dashboard</mat-icon> <a >Usuarios</a> 
              </mat-list-item>
  
              <mat-list-item (click)="goProductos()">
                  <mat-icon>style</mat-icon> Productos 
                </mat-list-item>
  
              <mat-list-item (click)="goSeccion()">
                <mat-icon>shopping_cart</mat-icon> Secciones
               </mat-list-item>
    
               <mat-list-item (click)="goAtributo()">
                 <mat-icon>supervised_user_circle</mat-icon> Categorias
               </mat-list-item>
  
               <mat-list-item (click)="goSubAtributo()">
                 <mat-icon>label_important</mat-icon> Opciones
               </mat-list-item>
               <mat-list-item (click)="goClientes()">
                  <mat-icon>label_important</mat-icon> Clientes
                </mat-list-item>
                <mat-list-item (click)="goPreguntas()">
                    <mat-icon>label_important</mat-icon> Preguntas
                  </mat-list-item>
               
        </mat-list>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
</mat-sidenav-container>
</div>
