<div class="container-fluid bg-light">

  <nav class="row navbar navbar-light">
    <a class="navbar-brand" href="#">
      <img src="../../assets/img/logo.jpg" class="img-fluid w-50 d-inline-block align-top" alt="">
    </a>
  </nav>
  <div class="row">
    <div class="col-md-12 band position-absolute"></div>
    <div class="col-lg-4 col-md-6 py-4 mx-auto cont-form-letter">
      <div class="row">
        <div class="w-100  py-3">
            <h4 class="text-white text-center">Ingrese su Email ó Usuario y la contraseña</h4>
        </div>
        <div class="w-100 cont-form p-4">
          <form class="" action="">
            <div class="form-group mb-4">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email ó Usuario">
            </div>
            <div class="form-group mb-4">
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <button type="submit" class="form-control btn bt-block text-white btn-custom">Continuar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
