<section class="pt-5 pb-5 my-5">
  <div class="container mt-5">
  
  <!------------Here begins the form of the Store-------------->
    <ng-template #Agregar>
      <div *ngIf="ChangeTemplateAgregar;else Editar">
  
        <div class="container">
          
          <h2 align="center">Agregar Nueva Seccion</h2>
  <form id="storeForm">

    <hr>
    <div class="row mt-2">
      <div class="col-md-6 col-xs-12"><label for="s_name">Nombre</label></div>
      <div class="col-md-6 col-xs-12"><input name="s_name" value="" class="form-control" type="text" placeholder="Ingrese un Nombre">
        <div *ngIf="AlertName" class="alert alert-danger">*Ingrese un Nombre</div></div>
      </div>
      
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="s_imagen">Imagen</label></div>
          <div class="col-md-6 col-xs-12"><input name="s_imagen" value="" class="form-control" type="file" placeholder="Ingrese un Nombre">
          <div *ngIf="alertImagen" class="alert alert-danger">*Ingrese un Nombre</div></div>
        </div>
        
        <div class="row mb-2 text-center">
          <div class="col-12"><hr></div>
        </div>
        
        <div class="row mt-2">
          <div class="col-12">
            <button class="btn btn-lg btn-danger pull-right ml-1" (click)="returnToTheTableUsers()">Volver</button>
            <button class="btn btn-lg btn-info pull-right" (click)="store()">Agregar</button>
          </div>
        </div>
        
  </form>
      </div>
    </div>
      <!------------------End form Store-------------------->
      <!------------------Here begins the form of the Edit---------------------------->
      <ng-template #Editar>
  
        <div class="container">
          <h2 align="center">Editar Sección</h2>
          <hr>
     <form  id="formEditCliente"><input type="hidden" name="editId" value="{{edit_seccion.s_id}}">  <input type="hidden" name="deleteImg" value="{{edit_seccion.s_imagen}}">
          
        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="edit_name">Editar nombre</label></div>
          <div class="col-md-6 col-xs-12"><input name="edit_name" id="edit_name" value="{{edit_seccion.s_nombre}}" class="form-control" type="text" placeholder="Ingrese un nombre">
          <div *ngIf="AlertName" class="alert alert-danger">*Ingrese un Nombre</div></div>     
        </div>

        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="edit_imagen">Cambiar imagen</label></div>
          <div class="col-md-6 col-xs-12"><input name="edit_imagen" id="edit_imagen" value="" class="form-control" type="file" placeholder="Ingrese un Nombre">
          <div *ngIf="alertImagen" class="alert alert-danger">*Ingrese un Nombre</div></div>
        </div>

     </form>
        <div class="row mb-2 text-center">
            <div class="col-12">
              <hr>
            </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <button class="btn btn-lg btn-danger ml-2" (click)="returnToTheTableUsers()">Volver</button>
          <button class="btn btn-lg btn-info ml-3" (click)="edit(edit_seccion.s_id)">Editar</button>
        </div>
    </div>
  </div>
    
  </ng-template>
  </ng-template>
  <!----------End Edit Form---------->
  
  <div *ngIf="ChangeTemplateEditar;else Agregar" class="mt-4">
  
  
        <h2>Tabla de Sección.</h2>
  
        <hr>
        <div class="row">
          <div class="col-6">
            <input type="hidden" class="form-control pull-left" placeholder="Buscar por usuario">
          </div>
          <div class="col-6">
              <button  class="btn btn-md btn-primary pull-right ml-1"  (click)="showStoreForm()"><i class="fa fa-plus" style="font-size:17px"></i>Agregar</button>
              <button class="btn btn-md btn-danger pull-right" (click)="delete()"><i class="fa fa-close" style="font-size:20px"></i>Eliminar</button>
            </div>
          </div>
    
      <table class="table table-bordered mt-3"  width="100%">
  
        <thead>
            <tr>
              <th style="width: 1px;">#</th>
              <th>Sección nombre</th>
              <th>Imagen</th>
              <th style="width: 25px">Editar</th>
            </tr>
        </thead>
  
        <tbody>
            <tr *ngFor="let seccion of listado"> <!--put name of the data base-->
              <td><input type="checkbox" class="tilde" value="{{seccion.s_id}}" (click)="check(seccion.s_id)"></td>
              <td>{{seccion.s_nombre}}</td>
              <td style="height:80px" class="text-center"><img src="{{seccion.s_imagen}}" style="max-height: 100%"></td>
              <td><button value="{{seccion.s_id}}" (click)="showEditForm(seccion.s_id)"><i class="fa fa-pencil"></i></button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  </section>