<section class="pt-5 pb-5 my-5">
<div class="container mt-5">

<!------------Here begins the form of the Store-------------->
  <ng-template #Agregar>
    <div *ngIf="ChangeTemplateAgregar;else Editar">

      <div class="container">
        
        <h2 align="center">Agregar Nuevo Usuario</h2>

  <hr>
      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="ub_user">Usuario</label></div>
        <div class="col-md-6 col-xs-12"><input id="ub_user" value="" class="form-control" type="text" placeholder="Ingrese un nombre de usuario">
        <div *ngIf="AlertUser" class="alert alert-danger">*Ingrese un nombre de usuario</div></div>
      </div>

      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="ub_email">E-mail</label></div>
        <div class="col-md-6 col-xs-12"><input id="ub_email" value="" class="form-control" type="text" placeholder="Ingrese un E-mail">
        <div *ngIf="AlertMail" class="alert alert-danger">*Ingrese un mail</div></div>
      </div>
  
      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="ub_password">Contraseña</label></div>
        <div class="col-md-6 col-xs-12"><input id="ub_password" type="password" value="" class="form-control" placeholder="Ingrese una contraseña">
        <div *ngIf="AlertPassword" class="alert alert-danger">*Las contraseñas no coinciden</div></div>     
      </div>

      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="ConfirmPassword">Confirmar Contraseña</label></div>
        <div class="col-md-6 col-xs-12"><input id="ConfirmPassword" value="" type="password" class="form-control" placeholder="Confirmar Contraseña">
        <div *ngIf="AlertPassword" class="alert alert-danger">*Las contraseñas no coinciden</div></div>     
      </div>
      
      <div class="row mb-2 text-center">
        <div class="col-12"><hr></div>
      </div>

      <div class="row mt-2">
        <div class="col-12">
          <button class="btn btn-lg btn-danger pull-right ml-1" (click)="ReturnToTheTableUsers()">Volver</button>
          <button class="btn btn-lg btn-info pull-right" (click)="Store()">Agregar</button>
        </div>
      </div>

      </div>
    </div>
    <!------------------End form Store-------------------->
    <!------------------Here begins the form of the Edit---------------------------->
    <ng-template #Editar>

      <div class="container">
        <h2 align="center">Editar Usuario</h2>
        <hr>
      <div class="row mt-2">
        
        <div class="col-md-6 col-xs-12"><label for="edit_usuario">Editar Usuario</label></div>
        <div class="col-md-6 col-xs-12"><input id="edit_usuario" value="{{edit_userb.ub_user}}" class="form-control" type="text" placeholder="Ingrese un nombre de usuario">
        <div *ngIf="AlertUser" class="alert alert-danger">*Ingrese el nombre de usuario</div></div>     
      </div>
      
      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="edit_mail">Editar E-mail</label></div>
        <div class="col-md-6 col-xs-12"><input id="edit_mail" value="{{edit_userb.ub_email}}" class="form-control" type="email" placeholder="Ingrese un E-mail">
        <div *ngIf="AlertMail" class="alert alert-danger">*Ingresar el Email</div></div> 
      </div>
  
      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><button (click)="EditPassword()">Cambiar contraseña</button></div>
      </div>

      <div *ngIf="EditPasswordVar">

        <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="NewPassword">Nueva Contraseña</label></div>
          <div class="col-md-6 col-xs-12"><input id="NewPassword" type="password" value="" class="form-control" placeholder="Ingrese una contraseña">
            <div *ngIf="AlertNewPassword" class="alert alert-danger">*Las contraseñas no coinciden</div></div>
        </div>                      
        
      <div class="row mt-2">
        <div class="col-md-6 col-xs-12"><label for="ConfirmNewPassword">Confirmar Contraseña</label></div>
        <div class="col-md-6 col-xs-12"><input id="ConfirmNewPassword" value="" type="password" class="form-control" placeholder="Confirmar Contraseña">
        <div *ngIf="AlertNewPassword" class="alert alert-danger">*Las contraseñas no coinciden</div></div>        
      </div>

      <div class="row mt-2">
          <div class="col-md-6 col-xs-12"><label for="Password">Contraseña Actual</label></div>
          <div class="col-md-6 col-xs-12"><input id="Password" value="" type="password" class="form-control" placeholder="Contraseña Actual">
          <div *ngIf="AlertPassword" class="alert alert-danger">*Contraseña incorrecta</div></div>
      </div>

      </div>

      <div class="row mb-2 text-center">
          <div class="col-12">
            <hr>
          </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <button class="btn btn-lg btn-danger ml-2" (click)="ReturnToTheTableUsers()">Volver</button>
        <button class="btn btn-lg btn-info ml-3" (click)="Edit(edit_userb.ub_id)">Editar</button>
      </div>
  </div>
</div>
  
</ng-template>
</ng-template>
<!----------End Edit Form---------->

<div *ngIf="ChangeTemplateEditar;else Agregar" class="mt-4">


      <h2>Tabla de usuarios.</h2>
      <hr>
      <div class="row">
        <div class="col-6">
          <input type="hidden" class="form-control pull-left" placeholder="Buscar por usuario">
        </div>
        <div class="col-6">
            <button  class="btn btn-md btn-primary pull-right ml-1"  (click)="showStoreForm()"><i class="fa fa-plus" style="font-size:17px"></i>Agregar</button>
            <button class="btn btn-md btn-danger pull-right" (click)="delete()"><i class="fa fa-close" style="font-size:20px"></i>Eliminar</button>
          </div>
        </div>
  
    <table class="table table-bordered mt-3"  width="100%">

      <thead>
          <tr>
            <th style="width: 1px;">#</th>
            <th>Usuario</th>
            <th>E-Mail</th>
            <th style="width: 25px">Editar</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let usuarios of listado"> 
            <td><input type="checkbox" class="tilde" value="{{usuarios.ub_id}}" (click)="Check(usuarios.ub_id)"></td>
            <td>{{usuarios.ub_user}}</td>
            <td>{{usuarios.ub_email}}</td>
            <td><button value="{{usuarios.ub_id}}" (click)="ShowEditForm(usuarios.ub_id)"><i class="fa fa-pencil"></i></button></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</section>