/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Bitter:700|Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    /* font-family: 'Merriweather Sans', sans-serif; */
    /* font-family: 'Rubik', sans-serif!important; */
    font-family: 'Poppins', sans-serif;

}

.cont-img{
    height: 250px;
}
html{
    overflow-x: hidden!important;
}