<div class="container main-text-color">
<div class="container-fluid">
  <div class="row text-dark">
    <app-productos class="col-12">
    </app-productos>
  </div>

  <section class="cuadricula-iconos pt-5">
    <h2>Secciones</h2>
    <div class="row">
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>

      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-anchor fa-2x terxt-dark"></i>
      </div>
    </div>
  </section>


</div>
