<app-header></app-header>

  <app-productos class=""></app-productos>


<section class="cuadricula-iconos pt-5">
  <div class="container">
    <h3>Secciones</h3>
    <div class="row">
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>

      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>

    </div>
  </div>
</section>



<app-footer></app-footer>
