<app-header></app-header>
<section style="background-image: url('https://www.seca.com.ar/assets/images/fondo.webp'); height:55vh;
background-repeat:no-repeat;
background-size:cover">
<p class="h1 text-center pt-5 text-white" style="text-shadow: 1px 1px 1px black;">¡Grandes ofertas!
</p>
<p class="h1 text-center text-white" style="text-shadow: 1px 1px 1px black;">20% OFF en efectivo</p>
</section>


  <div class="row text-dark">
        <app-productos class="col-12">
    </app-productos>
 </div>

  <section class="cuadricula-iconos pt-5 pb-5">
      <div class="container">
    <h2>Secciones</h2>
    <div class="row">
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>
      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
        <i class="fa fa-truck fa-3x terxt-dark"></i>
      </div>

      <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
          <i class="fa fa-truck fa-3x terxt-dark"></i>
        </div>
        <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
          <i class="fa fa-truck fa-3x terxt-dark"></i>
        </div>
        <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
          <i class="fa fa-truck fa-3x terxt-dark"></i>
        </div>
        <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
          <i class="fa fa-truck fa-3x terxt-dark"></i>
        </div>
        <div class="cuad col-md-2 border border bg-white d-flex justify-content-center align-items-center">
          <i class="fa fa-truck fa-3x terxt-dark"></i>
        </div>
        
    </div>
  </div>
  </section>



<app-footer></app-footer>