.p-w{
    max-width: 30%!important;
    background-color: white;
}
.bg-grey{
    background-color:rgb(232, 232, 232);
}
.text-etiqueta{
    font-size:13px;
    color:#0047ff;
    cursor: pointer;
}
.text-menu-etiqueta{
    font-size: 14px;
    color: #696969;
}
.name-producto{
    font-size: 15px;
}
.mh{
    max-width: 90%;
    max-height: 250px;
}
.paginador{
    border: 1px #868686 solid!important;
    padding: 8px!important;
    background: white!important;
    border-radius: 5px!important;
    cursor: pointer;
}
.ft-14{
    font-size: 18px;
}